html{
  background-color: rgb(55, 55, 55);
}
.lawyer{
  margin: auto;
  border-style: dashed;
}
.search{
  text-align: center;
  margin: 1rem auto;

}
.table_wrapper{
  background-color: rgb(193, 230, 230);
  font-size: large;
  color: aliceblue;
  margin:auto;
  margin-top: 1rem;
  padding: 1rem;
}
table{
  border-spacing: 0px 5px;
}
.row{
  transition: 0.2s;
}
.row:hover{
  transform: scale(1.03);
}
td{
  background-color: rgb(69, 98, 98);
  padding: 1rem;
}
th{
  font-size: larger;
  background-color: rgb(46, 65, 65);
  padding: 1rem;
}